@use '../../utils/styleUtils.scss'as *;
@use 'sass:color';

.section.welcome-section {
    padding-left: 0;

}

.welcome-text {
    padding: 50px 40px 80px;
    color: $gray-100;
    font-size: 2rem;

    
    .greetings {
        font-weight: 200;
        font-size: 5.5rem;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    div:first-child {
        margin-bottom: 20px;
    }
    
    div:nth-child(2) {
        font-weight: 300;
        color: $blue-200;
        margin-bottom: 20px;
    }

    
    div:nth-child(3) {
        font-size: 1.1rem;
        font-weight: 400;
        color: $gray-100;
    }
    
    @media screen and (max-width: 320px) {
        padding: 50px 20px 80px;
    }
    
    @media screen and (min-width: 640px) {
        padding: 50px 40px 80px;
        font-size: 2.8rem;
        
        .greetings {
            font-size: 7rem;
        }

        div:nth-child(3) {
            font-size: 1.6rem;
            font-weight: 400;
            color: $gray-100;
        }
    }
}

.external-links {
    margin: 0 50px 50px;
    width: 120px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 640px) {
        width: 180px;
    }
}

.linkedin-icon,
.codepen-icon,
.github-icon {
    width: 30px;
    height: auto;
    stroke: $blue-200;
    fill: $blue-200;
    stroke-width: 0.5;

    @media screen and (min-width: 640px) {
        width: 45px;
    }
}

.welcome-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: var(--background-image-opacity-10);

    @keyframes animate {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 100%;
        }
    }

    .resume-link {
        border: 2px solid $blue-200;
        color: $blue-200;
        border-radius: 4px;
        font-size: 1.125rem;
        padding: 15px;
        text-align: center;
        max-width: 200px;
        width: calc(100% - 40px);
        margin: auto;
        margin-left: 0;
        background-color: color.adjust($blue-200, $alpha: -0.9);
        cursor: pointer;
        position: relative;
        margin-top: 30px;
        display: block;

        @media screen and (min-width: 350px) {
            margin-right: auto;
        }

        @media screen and (min-width: 640px) {
            font-size: 1.4rem;
        }
    }
}