@use '../../utils/styleUtils.scss' as *;

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $gray-100;
    font-style: italic;
    padding: 15px;
    width: calc(100% - 70px);
    margin-right: 70px;

    p {
        margin: 0;
    }
    
    a {
        color: $blue-200;
        transition: all 300ms ease-in-out;
        &:hover {
            color: $gray-100;
        }
    }
}