@use '../../utils/styleUtils.scss'as *;
@use 'sass:color';

.project {
    position: relative;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    min-height: 400px;
    margin-bottom: 40px;

    .project-background {
        border-radius: 3px;
        transition: all 300ms ease-in-out;
        background-image: var(--background-image-opacity-50);
        width: 100%;
        height: 100%;
        position: absolute;
        top: -8px;
        left: -8px;
    }
}

.project:nth-child(even) {
    .project-background {
        top: 8px;
        left: 8px;
    }
}

.project-wrapper {
    background-color: color.change($blue-600, $alpha: 0.8);
    position: relative;
    border-radius: 5px;

    .project-text {
        text-shadow: 0 0 5px #000;
        position: absolute;
        height: auto;
        z-index: 1;
        top: 0;
        bottom: 0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $gray-50;
        background-color: color.change($blue-600, $alpha: 0.6);

        @media screen and (min-width: 640px) {}

        .project-description {
            margin: 0;
            padding: 5px;
            line-height: 1.4em;
            font-size: 1.1em;
            height: 100%;
            padding-top: 15px;
            overflow-y: auto;
            flex-grow: 1;
            transition: all 300ms ease-in-out;

            @media screen and (min-width: 640px) {
                padding: 25px;
            }
        }

        h3 {
            margin: 0;
            padding: 0 5px;
            padding-top: 5px;
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }

    .project-thumbnail {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        max-height: 500px;
        box-shadow: 0 0 3px black;

        .thumbnail-blend {
            position: absolute;
            mix-blend-mode: color;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: $blue-200;
        }

        img {
            height: 100%;
            width: 100%;
            opacity: 0.3;
            @include object-fit($fit: cover, $position: left);
        }
    }

    .project-tech-stack {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 0 5px;

        list-style: none;
        font-family: 'Space Mono', monospace;

        li {
            color: $gray-50;
            font-style: italic;
            margin-right: 5px;
            font-size: 0.875em;
        }

        li::after {
            content: ',';
        }

        li:last-child::after {
            content: '';
        }
    }
}

.project:hover {
    box-shadow: 0 0 5px $blue-200;

}


@media screen and (min-width: 1024px) {
    .project {
        margin-top: 50px;
        min-height: 430px;

        &:hover {
            box-shadow: none;
        }

        .left-side .project-background {
            top: 30px;
            left: 30px;
        }

        .hovered .project-background {
            transform: translate(-60px, -60px);
        }

        > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .project-wrapper {
            background-color: transparent;
            width: 950px;

            .left-side {
                position: absolute;
                border-radius: 10px;
                display: inline-block;

                &.hovered {
                    z-index: 10;

                    .link-text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .link-text a {
                        color: $blue-700;
                        padding: 15px 30px;
                        border: 2px solid $blue-700;
                        border-radius: 10px;
                        font-size: 1.5rem;
                        font-weight: bold;
                        display: flex;
                        justify-items: center;
                        align-items: center;
                        text-align: center;
                        transition: all 300ms ease-in-out;
                        background-color: $gray-50;
                        overflow: hidden;
                    }
                }
            }

            .project-thumbnail {
                max-width: 650px;
                max-height: 400px;

                .thumbnail-blend {
                    mix-blend-mode: normal;
                    background-color: color.change($blue-300, $alpha: 0.5);
                    z-index: initial;
                }

                img {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                }
            }

            .external-link-icon {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 45px;
                height: 40px;
            }

            .project-heading {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: color.change($gray-100, $alpha: 0.75);
                color: $blue-700;

                h3 {
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 1.3em;
                    letter-spacing: -0.03em;
                    padding: 34px 30px;
                    margin: 0;
                    text-align: left;
                    max-width: 430px;
                }

                .tech-stack-wrapper {
                    padding: 10px 0;
                    margin-right: auto;
                    margin-left: 0;
                }

                .project-tech-stack {
                    justify-content: end;
                    padding: 0 34px;
                    max-width: 430px;
                    margin: 0;

                    li {
                        color: $blue-700;
                        font-size: 0.925em;
                    }
                }
            }

            .right-side {
                position: relative;
                right: 0;
                top: 60px;
                left: 430px;
                width: 520px;
                min-height: 250px;
                height: 100%;
                background-color: $blue-500;
                border-radius: 10px;
                box-shadow: 0 0 5px $blue-300;
                color: $gray-50;

                .project-description {
                    padding: 26px;
                    font-size: 0.9em;
                    text-align: left;
                }
            }

        }
    }

    .project:nth-child(odd) {

        .project-background {
            top: -30px;
            left: -30px;
        }

        .hovered .project-background {
            transform: translate(60px, 60px);
        }

        .left-side {
            right: 0;
        }

        .right-side {
            left: 0;
            right: 430px;
        }

        .external-link-icon {
            left: auto;
            right: 10px;
        }

        .project-heading {

            h3 {
                text-align: right;
            }

            h3,
            .tech-stack-wrapper {
                margin-left: auto;
                margin-right: 0;
            }

            .tech-stack-wrapper {
                display: flex;
                align-items: center;
                justify-content: end;
                max-width: 430px;
                margin-left: auto;
            }

            .project-tech-stack {
                justify-content: start !important;
            }
        }
    }
}